<h2>Your Tweet</h2>

<div class="tweet">
  <p><%= @tweet.text %></p>

  <div class="options">
    <%= link_to "Delete tweet", tweet_path, method: :delete, data: {confirm: "Are you sure you want to delete this tweet?"} %> |
    <%= link_to "Edit Tweet", edit_tweet_path %> |
    <%= link_to "Back to feed", tweets_path %>
  </div>
</div>
